//App.scss

:root {
  --green: #012121;
  --orange: #DC5E3C;
  --yellow: #E0AC30;
  --purple: #353F96;
  --green-hover: #023131;
  --accent-green: #94E6BD;
  --accent-orange: #F9DDD5;
  --accent-yellow: #F9EED2;
  --accent-purple: #D4D9EB;
  --accent-green-hover: #a0f9cc;
  --green-dark: #011818;
  --f-h1: 4rem;
  --f-h2: 2rem;
  --f-h3: 2rem;
  --f-p: 1.5rem;
}

/* Styles for the scrollbar track (background) */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

/* Styles for the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-green); /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners on the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green-hover); /* Color of the scrollbar handle on hover */
}

/* Styles for the scrollbar corner */
::-webkit-scrollbar-corner {
  background: var(--green-dark); /* Color of the scrollbar corner */
}



body {
  margin: 0;
  Background-color: var(--green);
  color:#fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:10px;
}

button, a {
  transition: all .2s;
  cursor: pointer;
}
h1 {
  font-size:var(--f-h1);
  @media only screen and (max-width: 1200px) { font-size:var(--f-h3); }
}
h2 {font-size:var(--f-h2);}
h3 {font-size:var(--f-h3);}
p {font-size:var(--f-p);}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensures minimum height of the viewport
  width: 100%; // Full width

  @media only screen and (max-width: 1200px) {
    flex-direction: column; 
  }
}


nav {grid-area:nav;}
.response {grid-area:response;}

.dataFetcher {
  flex: 1 0 auto; // Allows the div to expand with its content
  display: flex;

  @media only screen and (max-width: 1200px) {
    flex-direction: column; 
  }
}

.error-message {
  color: var(--orange);
  font-size:var(--f-p);
}

header {
  padding: 3.5rem 3.5rem 1rem 3.5rem;
}

header > h2 {
  font-weight: 100;
  text-decoration: underline;
  color:var(--accent-purple);
  margin: 0 0 2rem 0;
}
header > h1 {
  font-weight: 100;
  color:var(--accent-green);
  margin: 0 0 2rem 0;
}

nav {
  flex:1;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  padding: 1rem 3.5rem 3.5rem 3.5rem;
  max-width:40rem;

  button {
    width: 100%; 
    margin-bottom: 1rem;
    position:relative;
    padding: 2rem;
    margin: 1rem 0;
    background-color:var(--green);
    border:solid .1rem var(--accent-green);
    border-radius: 1.7rem;
    color:var(--accent-green);
    font-size:var(--f-p);
    @media only screen and (max-width: 1200px) { font-size:1rem; }
  }
  button:hover {
    border:solid .1rem var(--accent-green-hover);
    color:var(--accent-green-hover);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }  

  @media only screen and (max-width: 1200px) {
    flex: 1 1 auto;
    max-width: 100%; 
    padding: 1rem; 
  }

}

.response {
  flex: 2;
  @media only screen and (max-width: 1200px) {
    flex: 1 1 auto;
    max-width: 100%; 
    padding: 1rem; 
  }
}


.AiResponseHeader {
  width:100%;
  font-weight: 900;
  font-size: 2rem;
}
.AiResponse {
  font-size: 2rem;
  font-weight: 100;
  max-width: 600px;
  margin: 2rem 0;
  padding: 4rem;
  background-color:var(--green-dark);
  border-radius: 2rem;
  animation: fadeIn .5s ease-in;
  flex-shrink: 0;

  ul {
    list-style: none;
    margin:0;
    padding:0;
    font-size: 1.5rem;
  }

}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.spinner {
  border: 5px solid var(--accent-green); 
  border-top: 5px solid var(--green); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 2.5rem .5rem;
  position: absolute;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.appFooter {
  padding: 2rem 4rem;
  background-color: var(--green-dark);
  color: var(--accent-green);

  .logo {
    background: url("assets/Opti-Logo-White.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:auto;
    height:2rem;
  }
  .copyright {
    padding: 1rem 0;
  }
}

